@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Lobster";
	src: url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
}

@font-face {
	font-family: "Roboto Condensed";
	src: url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300');
}